---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "January 2022 - August 2024",
    title: "IT Careers Coordinator - UNIVO",
    description:
      "Management and supervision of Professors and Instructors and their academic load. Responsible for the development and updating of study plans for Technological Careers, teacher in specialized topics of web design and development, organization of technology centers, preparation of Software Development projects.",
  },
  {
    date: "February - April 2024",
    title: "Consultant in the MISEREOR project - FUSALMO",
    description:
      "Trainer of the blended course on Frontend development with React, using web design and development technologies focused on user interfaces and design and user experience principles.",
  },
  {
    date: "April - December 2022",
    title: "UX/UI Designer, eCommerce Platform",
    description:
      "Conducted UX research to understand user needs, designed visuals, and created wireframes and UI kits for consistent and aesthetically pleasing interfaces.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
