---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2021 - Currently...",
    title: "ICT Career Coordinator - UNIVO",
    description:
      "Management and supervision of Teachers and Instructors and their academic load. Responsible for the development and updating of study plans for Technology Careers in the School of Engineering and Architecture, teacher in specialized subjects of web design and development, organization of technology centers, preparation of schedules and academic activities, management of technological projects in collaboration with MINEC",
  },
  {
    date: "February - April 2024",
    title: "Consultant in the MISEREOR project - FUSALMO",
    description:
      "Responsible for facilitating the blended course in Frontend development with React, using web design and development technologies focused on user interfaces and design and user experience principles. Preparation of projects by module, carrying out code review sessions, planning and correction of observations, and generation of monthly and final reports of the consultancy.",
  },
  {
    date: "June 2023",
    title: "FrontEnd Specialization - JavaScript and React Native",
    description:
      "2nd place in FrontEnd Project Upskilling & Reskilling Challenge by BID-MINEC-FORMÁS-FEDISAL",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
