<footer class="rounded-lg shadow m-4 bg-black/5 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-5">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-sky-800 opacity-80 sm:text-center dark:text-gray-400"
      >© 2024 <a href="https://www.linkedin.com/in/nestor-rivas-5a6163196/" class="hover:underline"
        >nestor rivas</a
      >. all rights reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#about" class="hover:underline me-4 md:me-6 text-sky-800 opacity-80">about</a>
      </li>
      <!-- <li>
        <a href="#" class="hover:underline text-sky-800 opacity-80">contact</a>
      </li> -->
    </ul>
  </div>
</footer>
