<section id="tech-stack">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
    <!-- Icons for Technologies -->
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
        class="w-8 h-8"
        alt="React"
      />
      <span>React</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        class="w-8 h-8"
        alt="JavaScript"
      />
      <span>JavaScript</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-original.svg"
        class="w-8 h-8"
        alt="WordPress"
      />
      <span>WordPress</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
        class="w-8 h-8"
        alt="Node.js"
      />
      <span>Node.js</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
        class="w-8 h-8"
        alt="Express"
      />
      <span>Express</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
        class="w-8 h-8"
        alt="MongoDB"
      />
      <span>MongoDB</span>
    </div>
    <!-- <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
        class="w-8 h-8"
        alt="Vue.js"
      />
      <span>Vue.js</span>
    </div> -->
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
        class="w-8 h-8"
        alt="HTML"
      />
      <span>HTML</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
        class="w-8 h-8"
        alt="CSS"
      />
      <span>CSS</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"
        class="w-8 h-8"
        alt="Bootstrap"
      />
      <span>Bootstrap</span>
    </div>
    <!-- Icons for Design Tools -->
    <!-- Icons for Design Tools -->
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
        class="w-8 h-8"
        alt="Figma"
      />
      <span>Figma</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/illustrator/illustrator-plain.svg"
        class="w-8 h-8"
        alt="Illustrator"
      />
      <span>Illustrator</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg"
        class="w-8 h-8"
        alt="Photoshop"
      />
      <span>Photoshop</span>
    </div>
    <!-- <div class="flex gap-x-2 items-center">
      <img
        src="https://static.canva.com/web/images/12487a1e0770d29351bd4ce4f87ec8fe.svg"
        class="w-8 h-8"
        alt="Canva"
      />
      <span>Canva</span>
    </div> -->
  </div>
</section>
